
.container {
    position: relative;
  }
  
  .text {
    margin-left: 35px;
    margin-right: 35px;
  }
  
  .button-wrapper {
    width: 100%;
    text-align: center;
  }
  
  .button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-weight: bold;
    height: 700px;
    width: 35px;
    display: inline-block;
  }
  
  .button-left {
    float: left;
    background-color: black;
  }
  
  .button-right {
    float: right;
    background-color: black;
  }
  
  #photo {
    display: inline-block;
    max-width: 95%;
    height: auto;
    margin: 0 auto;
    height: 700px;
    width: 95%;
  }
  