.input-field {
  width: 360px;
  height: 30px;
  margin: 20px auto;
  display: block;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f7f7f7;
  color: #333;
  text-align: center;
}

.input-field:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.button {
  display: block;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.button:disabled {
  background-color: #b3c6cc;
  cursor: not-allowed;
}

.button:hover {
  background-color: #0056b3;
}

.button:active {
  background-color: #003580;
}

.logout-button {
  background-color: #dc3545;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease, box-shadow 0.1s ease;
}

.logout-button:hover {
  background-color: #c82333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.logout-button:active {
  background-color: #bd2130;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

.authorize-button {
  margin-left: 20px;
  background-color: #007bff;
}

.authorize-button.disabled {
  background-color: #87ceeb;
}

.authorize-button.button:active:hover {
  background-color: #0056b3;
}

.button-container .button.register-button {
  margin-left: 100px;
}
