<div class="input-wrapper">
  <input class="input-field" [(ngModel)]="inputValue" placeholder="Enter your NASA API key">
</div>
<div class="button-group">
  <div class="button-container">
    <button (click)="saveInput()" [ngClass]="{'button': true, 'authorize-button': true, 'disabled': inputValue.length < 40 }">
      Authorize
    </button>
    <button *ngIf="isAuthorized" (click)="logout()" class="button logout-button">Logout</button>
    <button (click)="showNASAWebsite()" class="button register-button">Register</button>
  </div>
</div>
<iframe *ngIf="showNASARegistration" src="https://api.nasa.gov" frameborder="0" width="100%" height="500px"></iframe>
